# Alpha Vantage

In [23]:
from chave import chave_api , request_api_times

In [41]:
company = ['PBR']
request_api_times(company,'TIME_SERIES_WEEKLY',chave_api,'csv')

       timestamp   open    high     low  close     volume
0     2022-10-14  14.46  14.750  13.670  13.95  143779277
1     2022-10-07  13.73  14.745  13.530  14.35  188942085
2     2022-09-30  12.33  12.595  11.845  12.34  175158614
3     2022-09-23  12.88  13.920  12.470  12.55  143441396
4     2022-09-16  14.09  14.160  12.850  13.10  123248650
...          ...    ...     ...     ...    ...        ...
1152  2000-09-15  32.38  33.750  29.810  30.25    7537100
1153  2000-09-08  31.06  34.060  30.810  32.75    5102000
1154  2000-09-01  30.38  33.000  29.810  31.19    6834600
1155  2000-08-25  29.00  30.250  28.380  30.25    6540600
1156  2000-08-18  28.13  31.130  28.000  29.00   10928700

[1157 rows x 6 columns]

In [45]:
company = ['PBR']
request_api_times(company,'TIME_SERIES_DAILY',chave_api,'csv')

     timestamp   open     high     low  close    volume
0   2022-10-14  14.32  14.3600  13.935  13.95  28340162
1   2022-10-13  13.75  14.7500  13.670  14.43  41672822
2   2022-10-12  13.92  14.0096  13.680  13.89  21680961
3   2022-10-11  14.01  14.3399  13.945  14.00  27825751
4   2022-10-10  14.46  14.6250  14.210  14.24  24259581
..         ...    ...      ...     ...    ...       ...
95  2022-05-31  14.17  14.3400  13.840  13.88  34373950
96  2022-05-27  14.51  14.5600  14.210  14.26  34337229
97  2022-05-26  14.55  14.8800  14.545  14.80  23802002
98  2022-05-25  14.25  14.6250  14.245  14.55  35194213
99  2022-05-24  14.39  14.4700  13.950  14.23  47042557

[100 rows x 6 columns]

In [42]:
company = ['ITUB4.SAO','PBR','ABEV3.SAO']
request_api_times(company,'GLOBAL_QUOTE',chave_api,'csv')

,symbol,open,high,low,price,volume,latestDay,previousClose,change,changePercent
0,ITUB4.SAO,28.75,29.17,28.500,28.65,40087100,2022-10-14,28.64,0.01,0.0349%
0,PBR,14.32,14.36,13.935,13.95,28340162,2022-10-14,14.43,-0.48,-3.3264%
0,ABEV3.SAO,15.02,15.12,14.790,14.83,16936000,2022-10-14,15.01,-0.18,-1.1992%